In [20]:
import pandas as pd
a={'colx': ['t', 'e', 'p', 'a', 'b', 'x'], 'coly': [ 1, 5, 7, 1, 0, 4], 'colz': [ 54, 37, 9, 13, 44, 77], 'colw':['r3', 'p7', 'w9', 'a4', 'z0', 'n7']}
df=pd.DataFrame(a)
count_col=df.shape[1]
count_row=df.shape[0]

print(df)
print(df.shape)
print()
print("Number of Columns:")
print(count_col)
print("Number of Rows:")
print(count_row)

  colx  coly  colz colw
0    t     1    54   r3
1    e     5    37   p7
2    p     7     9   w9
3    a     1    13   a4
4    b     0    44   z0
5    x     4    77   n7
(6, 4)

Number of Columns:
4
Number of Rows:
6

In [3]:
import pandas as pd
pmi=pd.read_csv("C:/Users/irene/OneDrive/桌面/Practice area/C39620_02_PMI_with_TD_and_DUT.csv", header=0, sep=",")
print(pmi.head())

   Col  Row  Card Site  Pad #  PM Area%  PM Size  X Shift  Y Shift  Prox Up  \
0    0   25        NaN      1       0.0        0       -3       -3   30.555
1    0   25        NaN      2       6.2       20       14       -7   30.555
2    0   25        NaN      3       5.9       19       14       -3   27.160
3    0   25        NaN      4       3.3       10       14        0   27.160
4    0   25        NaN      5       6.5       21       10       -3   27.160

   Prox Down  Prox Left  Prox Right  Edge Touching         Angle   Pass/Fail  \
0     30.555     30.555      30.555            0.0 -9.255960e+61  Judge=Pass
1     13.580     13.580      33.950            0.0 -9.255960e+61  Judge=Pass
2     16.975     13.580      33.950            0.0 -9.255960e+61  Judge=Pass
3     20.370     16.975      30.555            0.0 -9.255960e+61  Judge=Pass
4     13.580     16.975      30.555            0.0 -9.255960e+61  Judge=Pass

   TD Order  DUT#
0      37.0   8.0
1      37.0   8.0
2      37.0   8.0
3      37.0   8.0
4      37.0   8.0

In [21]:
health_data=pd.read_csv("C:/Users/irene/OneDrive/桌面/Practice area/data.csv", header=0, sep=',')
print(health_data)

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         8.0          7.0
5        NaN           NaN       NaN              NaN         NaN          NaN
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
8       45.0           110        AF              NaN         7.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [23]:
print(health_data.isnull().sum())

Duration           1
Average_Pulse      1
Max_Pulse          1
Calorie_Burnage    3
Hours_Work         2
Hours_Sleep        1
dtype: int64

In [25]:
health_data.dropna(axis=0, inplace=True)
print(health_data)

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         8.0          7.0
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
12      45.0           125       150            330.0         8.0          8.0

In [27]:
print(pmi.isnull().sum())

Col                   0
Row                   0
Card Site        155517
Pad #                 0
PM Area%              0
PM Size               0
X Shift               0
Y Shift               0
Prox Up               0
Prox Down             0
Prox Left             0
Prox Right            0
Edge Touching         0
Angle                 0
Pass/Fail             0
TD Order            247
DUT#                247
dtype: int64

In [31]:
print(health_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     object
 2   Max_Pulse        10 non-null     object
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(4), object(2)
memory usage: 560.0+ bytes
None

In [33]:
print(pmi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155517 entries, 0 to 155516
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Col            155517 non-null  int64
 1   Row            155517 non-null  int64
 2   Card Site      0 non-null       float64
 3   Pad #          155517 non-null  int64
 4   PM Area%       155517 non-null  float64
 5   PM Size        155517 non-null  int64
 6   X Shift        155517 non-null  int64
 7   Y Shift        155517 non-null  int64
 8   Prox Up        155517 non-null  float64
 9   Prox Down      155517 non-null  float64
 10  Prox Left      155517 non-null  float64
 11  Prox Right     155517 non-null  float64
 12  Edge Touching  155517 non-null  float64
 13  Angle          155517 non-null  float64
 14  Pass/Fail      155517 non-null  object
 15  TD Order       155270 non-null  float64
 16  DUT#           155270 non-null  float64
dtypes: float64(10), int64(6), object(1)
memory usage: 20.2+ MB
None

In [35]:
health_data["Average_Pulse"]= health_data["Average_Pulse"].astype(float)

In [37]:
health_data

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,30.0,80.0,120,240.0,10.0,7.0
1,45.0,85.0,120,250.0,10.0,7.0
2,45.0,90.0,130,260.0,8.0,7.0
3,60.0,95.0,130,270.0,8.0,7.0
4,60.0,100.0,140,280.0,8.0,7.0
6,60.0,105.0,140,290.0,7.0,8.0
7,60.0,110.0,145,300.0,7.0,8.0
9,45.0,115.0,145,310.0,8.0,8.0
10,60.0,120.0,150,320.0,0.0,8.0
12,45.0,125.0,150,330.0,8.0,8.0

In [39]:
print(health_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     float64
 2   Max_Pulse        10 non-null     object
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(5), object(1)
memory usage: 560.0+ bytes
None

In [41]:
health_data["Max_Pulse"]= health_data["Max_Pulse"].astype(float)

In [43]:
print(health_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     float64
 2   Max_Pulse        10 non-null     float64
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(6)
memory usage: 560.0 bytes
None

In [45]:
print(health_data.describe())

        Duration  Average_Pulse   Max_Pulse  Calorie_Burnage  Hours_Work  \
count  10.000000      10.000000   10.000000        10.000000   10.000000
mean   51.000000     102.500000  137.000000       285.000000    7.400000
std    10.488088      15.138252   11.352924        30.276504    2.796824
min    30.000000      80.000000  120.000000       240.000000    0.000000
25%    45.000000      91.250000  130.000000       262.500000    7.250000
50%    52.500000     102.500000  140.000000       285.000000    8.000000
75%    60.000000     113.750000  145.000000       307.500000    8.000000
max    60.000000     125.000000  150.000000       330.000000   10.000000

       Hours_Sleep
count    10.000000
mean      7.500000
std       0.527046
min       7.000000
25%       7.000000
50%       7.500000
75%       8.000000
max       8.000000